/* .webix_all_tabs .webix_item_tab {
    width: auto !important;
    padding-left: 10px;
    padding-right: 10px;
} */
.icquenmk span.webix_icon.fal.fa-times:before {
    font-size: 10px;
    line-height: 0px !important;
}
.icquenmk .webix_icon_button .webix_icon.fal.fa-times {
    line-height: 0px !important;
}
.headform {
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    /*text-align: center;*/
    background-color: #3498db;
    color: white;
}
.txtTongtien {
    background-color: #e8e8e8 !important;
    border: none;
    text-align: right !important;
    font-weight: bold !important;
}
.txtTongtien input {
    background-color: #e8e8e8 !important;
    border-bottom: none;
    text-align: right !important;
    font-weight: bold !important;
}
.lblSubTongtien {
    background-color: #86b2cf;
    padding-left: 25px;
    font-style: italic;
}
.lblTongtien {
    text-align: center;
    font-weight: bold;
    color: black;
    background-color: #86b2cf;
}

.tongtienTable .webix_hcell {
    background: #5eb7f2;
    font-weight: bold;
    color: black;
}
.firstTable {
    background-color: #5eb7f2;
    color: black;
}
.quenmk {
    /*color: #3a84b5;*/
    /*text-transform: uppercase;*/
    background: linear-gradient(to right, #1977b5 0%, #30cfd0 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 26px;
    font-weight: bold;
    padding-left: 28px;
}
.quenmktemplate div.webix_template {
    padding-left: 0px !important;
}
.quenmkemail label.webix_inp_top_label.webix_required {
    color: #94a1b3;
}
.quenmklock {
    padding-left: 15px;
}
.nampvsub div.webix_cell {
    background: #f4f5f9 !important;
}
.webix_view.webix_window.webix_popup.profilePopup {
    box-shadow: 0px 2px 10px #a2a3a3;
    border-radius: 12px;
}
.webix_view.webix_list.profile {
    border: none;
}

.custom_profile {
    border-radius: 4px;
    margin: 10px 5px;
    overflow: hidden;
    padding: 10px;
    margin-right: 8px;
    background: #edeff0;
}

.custom_profile i {
    color: #0069b4;
}

.custom_profile p {
    margin-top: 5px;
    margin-bottom: -26px;
}
.btnThem .webix_el_htmlbutton.webixtype_base {
    background-color: #33b86b !important;
    color: white !important;
}
.cbTypePrint .webix_inp_static {
    background-color: #33b86b !important;
    color: white !important;
}
.cbTypePrint .webix_input_icon.mdi.mdi-chevron-down:before {
    background: white !important;
    border-radius: 4px;
}
.table_dash_invoice .webix_view.sub_title {
    border: none !important;
}
.bodycolor {
    background-color: #f5f5f5 !important;
}
#haha {
    display: inline-flex;
}
.f-grid {
    display: flex;
    justify-content: space-between;
    margin-left: -1rem;
    flex-flow: row wrap;
}

.f-grid-col {
    flex: 1 0;
    /*background-color: green;*/
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    display: inline-flex;
}
.dash_invoice1 {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}

.webix_view.dash_invoice1.webix_layout_space {
    height: auto !important;
    width: auto !important;
    /*margin-left: 15px !important;*/
    margin-right: 15px !important;
}

.dash_invoice {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}
/*Không hiện phân cách cột */
.webix_dtable .webix_ss_header td,
.webix_dtable .webix_ss_footer td {
    border-color: transparent;
}
.webix_dtable .webix_ss_body .webix_column > div,
.webix_dtable .webix_ss_body .webix_table_cell {
    border-right-color: transparent;
    border-left-color: transparent;
}
.webix_all_tabs .webix_item_tab.webix_selected {
    box-shadow: none;
    background: white;
    color: #3498db;
}
.tabview-window-nothover .webix_all_tabs .webix_item_tab.webix_selected:hover {
    box-shadow: none;
    background: white;
    color: #3498db;
    cursor: default;
}
.webix_after_all_tabs {
    box-shadow: inset 0 1px #3498db;
}
.webix_el_textarea textarea {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}
.webix_el_textarea textarea:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #36cb75;
}
.webix_el_button button,
.webix_el_toggle button,
.webixbutton {
    border-radius: 0px;
}
.webix_el_box .webixtype_form,
.webix_uploader button {
    border: 1px solid #36cb75;
    border-color: #36cb75;
    background: #36cb75;
    border-bottom: 1px solid #36cb75;
}
.webix_el_box .webixtype_form:hover,
.webix_uploader button:hover {
    background: #33b86b;
}
.webix_el_button .webixtype_danger {
    background: white;
    border: 1px solid #fcd2cf;
    border-bottom: 1px solid #fcd2cf;
    color: red;
}
.webixtype_danger:hover {
    background-color: #ffe5e3;
}
.webix_view .webix_win_head {
    border-bottom: none;
}
.webix_view .webix_win_head > .webix_view > .webix_template {
    color: #005eb2;
    background: #ffffff;
    font-weight: bold;
    float: left;
    margin-left: 12px;
}
.menubar {
    display: inline-flex;
}
.menubarimg {
    margin-top: 6px;
    margin-right: 3px;
    color: white !important;
}
.webix_menu-x .webix_list_item:hover,
.webix_menu-x .webix_list_item:active,
.webix_menu-x .webix_list_item:focus {
    background-color: #00498a;
    color: white;
}
.webix_menu-x .webix_list_item {
    display: inline-block;
    line-height: 42px;
    height: 50px !important;
    border-left: 1px solid darkcyan;
    /*width: 120px !important;*/
    /*border-left: 1px solid darkgray !important;*/
}
@media only screen and (max-width: 900px) {
    .webix_menu-x .webix_list_item {
        font-size: 6px;
    }

    .size-bell-notify {
        font-size: 12px !important;
    }

    .fa-3x {
        font-size: 1em;
    }
    .bell-notify{
        padding: 0px 1px !important;
    }
    .photo{
        width: 50px !important;
    }
    .mainToolbar{
        font-size: 7px !important;
    }
    .webix_el_button{
        width: 60px !important;;
    }
    .webix_el_button .webix_el_box{
        width: 60px !important;;
    }
    .webix_el_button button {
        font-size: 8px !important;
    }
    .webix_column{
        font-size: 8px !important;
    }
    .webix_ss_header td{
        font-size: 8px !important;
    }
    .tonghop_label{
        width: 150px !important;
        font-size: 9px !important;
    }
    .title .header{
        font-size: 10px !important;
    }
    .webix_list_item{
        padding: 0.5px 3px !important;
    }
}
@media only screen and (max-width: 1100px)  and (min-width: 901px) {
    .webix_menu-x .webix_list_item {
        font-size: 7.5px;
    }

    .size-bell-notify {
        font-size: 16px !important;
    }

    .fa-3x {
        font-size: 1.5em;
    }
    .bell-notify{
        padding: 0px 2px !important;
    }
    .photo{
        width: 70px !important;
    }
    .mainToolbar{
        font-size: 8px !important;
    }
    .webix_el_button{
        width: 70px !important;;
    }
    .webix_el_button .webix_el_box{
        width: 70px !important;;
    }
    .webix_el_button button {
        font-size: 9px !important;
    }
    .webix_column{
        font-size: 9px !important;
    }
    .webix_ss_header td{
        font-size: 9px !important;
    }
    .tonghop_label{
        width: 180px !important;
        font-size: 10px !important;
    }
    .title .header{
        font-size: 12px !important;
    }
    .webix_list_item{
        padding: 1px 6px !important;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 1101px) {
    .webix_menu-x .webix_list_item {
        font-size: 8px;
    }

    .size-bell-notify {
        font-size: 20px !important;
    }

    .fa-3x {
        font-size: 2em;
    }
    .photo{
        width: 100px !important;
    }
    .mainToolbar{
        font-size: 10px !important;
    }
    .webix_el_button{
        width: 80px !important;;
    }
    .webix_el_button .webix_el_box{
        width: 80px !important;;
    }
    .webix_el_button button {
        font-size: 10px !important;
    }
    .webix_column{
        font-size: 10px !important;
    }
    .webix_ss_header td{
        font-size: 10px !important;
    }
    .tonghop_label{
        width: 250px !important;
        font-size: 11px !important;
    }
    .title .header{
        font-size: 13px !important;
    }
    .webix_list_item{
        padding: 2px 8px !important;
    }
}
@media only screen and (max-width: 1300px) and (min-width: 1201px) {
    .webix_menu-x .webix_list_item {
        font-size: 9px;
    }

    .size-bell-notify {
        font-size: 20px !important;
    }

    .fa-3x {
        font-size: 2em;
    }
    .photo{
        width: 100px !important;
    }
    .mainToolbar{
        font-size: 10px !important;
    }
    .webix_el_button{
        width: 80px !important;;
    }
    .webix_el_button .webix_el_box{
        width: 80px !important;;
    }
    .webix_el_button button {
        font-size: 10px !important;
    }
    .webix_column{
        font-size: 10px !important;
    }
    .webix_ss_header td{
        font-size: 10px !important;
    }
    .tonghop_label{
        width: 250px !important;
        font-size: 11px !important;
    }
    .title .header{
        font-size: 13px !important;
    }
    .webix_list_item{
        padding: 2px 8px !important;
    }
}
@media only screen and (max-width: 1600px) and (min-width: 1301px) {
    .webix_menu-x .webix_list_item {
        font-size: 10px;
    }

}
.image_toolbar{
    background: #005EB2;
    width:10% !important;
}

.webix_el_search input,
.webix_el_text input,
.webix_el_combo input,
.webix_el_colorpicker input,
.webix_el_datepicker input {
    border-radius: 0px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.webix_el_search input:focus,
.webix_el_text input:focus,
.webix_el_combo input:focus,
.webix_el_colorpicker input:focus,
.webix_el_datepicker input:focus {
    /*border: 1px solid #36cb75;*/
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #36cb75;
}
.webix_el_combo input:focus,
.webix_el_search input:focus,
.webix_el_text input:focus {
    /* border: 1px solid #3498db; */
    box-shadow: none;
}
.webix_el_richselect .webix_inp_static,
.webix_el_datepicker .webix_inp_static,
.webix_el_colorpicker .webix_inp_static,
.webix_el_dbldatepicker .webix_inp_static {
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-right: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 5px !important;
}
.webix_el_richselect .webix_inp_static:focus,
.webix_el_datepicker .webix_inp_static:focus,
.webix_el_colorpicker .webix_inp_static:focus,
.webix_el_dbldatepicker .webix_inp_static:focus {
    /*border: 1px solid #1ca1c1;*/
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #36cb75;
}
.title {
    background-color: #f5f5f5;
}
.title .webix_template {
    padding: 8px;
    line-height: 17px;
    font-weight: bold;
    color: #005eb2;
    /*display: inline !important;*/
    /*box-shadow: 0 -2px #3498db inset !important;
	background: #ffffff !important;*/
}
.title .header {
    float: left;
    font-size: 14px;
    font-family: Arial;
    background-color: #f5f5f5;
}
.title .details {
    float: left;
    font-size: 14px;
    font-style: Arial !important ;
    padding-left: 10px;
}
.webix_layout_toolbar.webix_toolbar .webix_icon_button .webix_icon {
    font-size: 20px !important;
    height: 20px !important;
    width: 20px !important;
    display: inline-block !important;
    text-align: center !important;
    /*color: #94A1B3 !important;*/
}
.webix_icon_count {
    background-color: #ff8839;
    border-radius: 50%;
    font-size: 12px;
    height: 22px;
    min-width: 22px;
    line-height: 17px;
    box-sizing: border-box;
    -moz-box-sizing: boder-box;
    -webkit-box-sizing: boder-box;
    padding: 0 4px;
    text-align: center;
    line-height: 22px;
    position: absolute;
    right: 0;
    top: 0;
}

.webix_hcell {
    font-weight: bold;
    text-align: center !important;
}

.flex_tmp {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
.flex_tmp .item {
    border-radius: 3px;
    position: relative;
    min-width: 150px;
    height: 105px;
    padding-top: 10px;
    color: white;
    margin: 11px 5.5px 0px 5.5px;
    -ms-box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1; /* Firefox 19- */
    -ms-flex: 1 auto; /* TWEENER - IE 10 */
    -webkit-flex: 1 auto; /* NEW - Chrome */
    flex: 1 auto;
}
.flex_tmp .item .icon {
    padding-left: 10px;
    height: 73px;
    padding-top: 7px;
    display: block;
    width: 30%;
    font-size: 77px;
    color: rgba(255, 255, 255, 0.17);
}
.flex_tmp .item .details {
    position: absolute;
    top: 10px;
    right: 10px;
    /*width: 150px;*/
}
.flex_tmp .item .value {
    font-size: 27px;
    text-align: right;
}
.flex_tmp .item .text {
    width: 100%;
    font-size: 18px;
    text-align: right;
}

.tiles .orders {
    background-color: #a693eb;
}
.tiles .number-orders {
    background-color: #49cd81;
}
.tiles .users {
    background-color: #63b4ea;
}
.tiles .item.profit {
    background-color: #49cd81;
}
.tiles .feedbacks {
    background-color: #f19b60;
}

.flex_tmp .footer {
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.05);
}
.flex_tmp .footer .webix_icon {
    font-size: 14px;
}

.header_person {
    /*background: transparent !important;*/
    background-color: #005eb2 !important;
    color: white;
    width: 80% !important;
}
.header_person .webix_template {
    padding: 0;
    line-height: 46px;
}
.header_person .photo {
    width: 38px;
    height: 38px;
    float: left;
    margin-top: 5px;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.header_person span {
    float: left;
    padding-left: 7px;
    padding-right: 7px;
}
.header_person .webix_icon {
    line-height: inherit;
}

.webix_layout_toolbar.header {
    background-color: #5f5f5f;
}
.logo {
    background: transparent;
}
.webix_layout_toolbar.header .webix_view {
    color: #fff;
}
.header .webix_icon_button .webix_icon {
    color: #fff;
}
.webix_icon_count {
    color: #fff;
}
.menu.webix_view {
    background: #fff !important;
}

.menu .webix_tree_item.webix_selected span,
.menu .webix_tree_item span {
    margin: 0;
    padding: 1px;
}

.menu .webix_tree_branch_1 .webix_tree_item {
    /*padding-left:10px;*/
    padding-left: 10px;
    padding-right: 10px;
}
.menu .webix_tree_branch_1 > .webix_tree_item {
    /*padding: 5px 12px;*/
    padding: 5px 0 4px 0;
    line-height: 40px;
    /*font-size: 12px;
	text-transform: uppercase;*/
}
.menu .webix_tree_branch_1 {
    border-bottom: 1px solid #e5e5e5;
}

.menu .webix_tree_item.webix_selected,
.menu .webix_tree_item.webix_selected span {
    background-color: red;
    padding-right: 0;
    color: white;
}
.menu .webix_tree_item.webix_selected .webix_icon {
    color: white;
}
.webix_cal_body .webix_cal_row {
    clear: none !important;
}
.textRight {
    text-align: right;
}
.rowBold {
    font-weight: bold;
}

.menu .webix_tree_item {
    height: 30px;
    line-height: 30px;
}

/* .webixtype_form {
	background-color:#0295E3;
}

.webix_popup_button.confirm div  {
	background-color: #0295E3 !important;
} */

.lblAlign .webix_inp_label {
    float: right;
}

.rowBold {
    font-weight: bold;
}

.cbLanguage .webix_el_box .webix_inp_static {
    background-color: transparent;
    color: white;
    border: none;
}
.cbLanguage .webix_el_box .webix_input_icon {
    color: white;
}

.mcls_btnResetPass button {
    background-color: #cc0000;
    color: white;
}
.mcls_btnResetPassLogin button {
    border: none;
    /* color: #cc0000; */
    color: #0295e3;
    background-color: transparent !important;
}

.mcls_btnResetPassLogin :hover {
    border: none;
    color: red;
    background-color: transparent !important;
}

.mcls_btnResetPassLogin .webix_icon {
    color: #0295e3;
    font-size: 16px;
    /* color: #cc0000; */
}

.mcls_btnRegisterLogin button {
    border: none;
    color: #0295e3;
    background-color: transparent !important;
}

.mcls_btnRegisterLogin :hover {
    border: none;
    color: red;
    background-color: transparent !important;
}

.mcls_btnRegisterLogin .webix_icon {
    color: #0295e3;
    font-size: 17px;
}

.mcls_btnAlignCenter .webix_img_btn,
.webix_img_btn_abs {
    text-align: center;
}

.mcls_invoiceDashboard .webix_hcell {
    font-weight: normal;
    color: #000000;
}

.mcls_invoiceDashboard .mcls_status {
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #fff;
}
.mcls_status4 {
    background-color: #cb54e3;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: white;
}

.mcls_status2 {
    background-color: #a693eb;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
}
.mcls_status0 {
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #34a853;
    background-color: #b6fcc9;
}

.mcls_status1 {
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #2eb4f2;
}

.mcls_status7 {
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #ea4335;
    background-color: #facac5;
}
.mcls_status17 {
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #ea4335;
    background-color: #facac5;
}

.mcls_status19 {
    background-color: #f9d2fc;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #9d52a3;
}

.mcls_status5 {
    background-color: #f9d2fc;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #9d52a3;
}
.mcls_status3 {
    background-color: #facac5;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #ea4335;
}
.mcls_status11 {
    /* bi dieu chinh*/
    background-color: #f9d2fc;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #9d52a3;
}
.mcls_status15 {
    /* chờ thay thế*/
    background-color: #f9d2fc;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #52a0a3;
}
.mcls_status13 {
    /* chờ hủy*/
    background-color: #f9d2fc;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #ea4335;
}
span.mcls_status.mcls_status15 {
    /* hoa don bi huy*/
    background-color: #f5511e;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #fff;
}
.mcls_status21 {
    background-color: #f9d2fc;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #bb7dc0;
}
.mcls_status23 {
    background-color: #9eaa36;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #f9d2fc;
}
.mcls_statuschoky {
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #fff;
    background-color: #eb6e1a;
}

.mcls_license_text input {
    color: red;
    background-color: #f5f5f0;
}
.mcls_readonly_text input {
    background-color: #e8e8e8;
    border-bottom: none;
}
.mcls_readonly_text input:focus {
    background-color: #e8e8e8;
    border-bottom: none;
}
.mcls_readonly_text textarea {
    background-color: #e8e8e8;
}

.mcls_readonly_text .webix_el_box .webix_inp_static {
    background-color: #e8e8e8;
}

.mcls_btn_save button {
    background-color: #0295e3;
    color: white !important;
    font-weight: bold;
}

.mcls_btn_save > .webix_el_box > button > .webix_icon_btn {
    color: white !important;
}

.webix_toolbar {
    background-color: white !important;
}

.webix_layout_toolbar {
    background-color: white !important;
}

/*.webix_layout_toolbar .webix_el_button .webix_el_box .webix_img_btn {
	color: #666;
}

.webix_layout_toolbar .webix_el_button .webix_el_box .webix_img_btn .webix_icon_btn {
	color: #666;
}*/

.webix_layout_toolbar .webix_img_btn:hover,
.webix_layout_toolbar .webix_img_btn_top:hover {
    background-color: lightgray;
}

.webix_layout_toolbar .webix_img_btn:active,
.webix_layout_toolbar .webix_img_btn_top:active {
    background-color: lightgray;
}

.webix_layout_toolbar .webix_img_btn:focus,
.webix_layout_toolbar .webix_img_btn_top:focus {
    background-color: lightgray;
}

.webix_layout_toolbar .webix_inp_label {
    color: #666;
}

.webix_layout_toolbar .webix_scroll_cont .webix_control .webix_el_box .webix_inp_label {
    color: #666;
}
.webix_layout_toolbar .webix_inp_static,
.webix_layout_toolbar input[type="text"] {
    border-color: #ccc;
}

.webix_layout_toolbar .webix_el_richselect .webix_el_box .webix_input_icon {
    background-color: transparent;
    color: #666;
}

.webix_layout_toolbar .webix_scroll_cont .webix_el_icon .webix_icon_button .webix_icon {
    color: #666;
}

.webix_layout_toolbar .webix_scroll_cont .webix_el_icon .webix_icon_button:hover {
    background-color: lightgray;
}

.webix_layout_toolbar .webix_scroll_cont .webix_el_icon .webix_icon_button:focus {
    background-color: lightgray;
}

.webix_layout_toolbar .webix_scroll_cont .webix_el_button .webix_el_box .webix_img_btn {
    /*color: #e60000;*/
    font-size: 12px;
}

.webix_layout_toolbar .webix_scroll_cont .webix_img_btn:hover,
.webix_layout_toolbar .webix_scroll_cont .webix_img_btn_top:hover {
    background-color: lightgray;
}

.webix_layout_toolbar .webix_scroll_cont .webix_img_btn:active,
.webix_layout_toolbar .webix_scroll_cont .webix_img_btn_top:active {
    background-color: lightgray;
}

.webix_layout_toolbar .webix_scroll_cont .webix_img_btn:focus,
.webix_layout_toolbar .webix_scroll_cont .webix_img_btn_top:focus {
    background-color: lightgray;
}
.webix_ss_footer {
    color: red;
}
.myhover {
    background: #eaeefc;
}

.bodylogin {
    background-image: url("../assets/imgs/223.jpg");
    /*background-image: linear-gradient(black, white);*/
    background-color: #cccccc;
    background-position: center;
    background-size: 100% 100%;
    /*background-size: 1650px 700px;*/
}
.quenpass {
    background-image: url("../assets/imgs/vuot_troi.jpg");
    /*background-image: linear-gradient(black, white);*/
    background-color: #cccccc;
    background-position: center;
    background-size: 100% 100%;
    /*background-size: 1650px 700px;*/
}
.hotline {
    height: 100%;
    line-height: 24px;
    border-right: ridge;
    border-width: 1px;
    float: right;
    padding-right: 15px;
    text-align: center;
    /*font-family: 'PT Sans',Tahoma;*/
}
.loginfooter {
    height: 100%;
    line-height: 24px;
    border-right: ridge;
    border-color: white;
    border-width: 1px;
    /*float:right; */
    padding-right: 15px;
    color: white;
    background-color: #000000;
    padding-bottom: 15px;
    padding-top: 4px;
    /*font-family: 'PT Sans',Tahoma;*/
}
.loginfooter :hover {
    color: #0295e3;
}
.loginfooter1 {
    height: 100%;
    line-height: 17px;
    font-size: 13px;
    padding-right: 15px;
    color: white;
    background-color: #000000;
    /*padding-bottom: 15px;*/
    padding-top: 3px;
}
.loginfooter1 :hover {
    color: #0295e3;
}

.loginfootercog {
    height: 100%;
    line-height: 12px;
    padding-right: 15px;
    color: white;
    background-color: #000000;
    padding-bottom: 15px;
    padding-top: 9px;
}
.loginfootercog :hover {
    color: #0295e3;
}
.webix_icon_btn.fa-cog {
    color: white;
}
.nampv {
    background-color: #ffa18a;
    border: 0 none;
    color: #ffffff;
    cursor: pointer;
    height: 50%;
}

.buttondanger {
    color: #ce5545;
    background: #ce5545;
    /*border-color: #ce5545;*/
}
/*.webix_hcell{
     background:#009966;
        color:white;
        font-weight:bold;
 
    }
    .webix_column{
        font-style:italic;
        background:#ddFFdd;
    }
     .webix_column > div{
        border-color:#ddd;
    }*/

.webix_layout_toolbar.webix_toolbar .webix_icon_button {
    border-radius: 60px !important;
}
.avatar .mainphoto {
    border-radius: 25px;
    widows: 40px;
    height: 40px;
    position: relative;
    top: -4px;
}
.green {
    color: #55cd97;
}
.status {
    position: relative;
    top: -25px;
    left: 25px;
    font-size: 10px !important;
    text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}
/*.webix_dtable .webix_ss_header td.webix_last_row {
  border-bottom: 5px solid #5ccce7;
}*/
.mcls_uppercase input {
    text-transform: uppercase;
    border-top: none !important;
    border-left: none !important;
    border-radius: 0px;
    border-right: none !important;
}

.mcls_uppercase.webix_view.webix_control.webix_el_text {
    margin-top: 4px !important;
}
.passlogin input {
    border-top: none !important;
    border-left: none !important;
    border-radius: 0px;
    border-right: none !important;
}
.passlogin.webix_view.webix_control.webix_el_text {
    margin-top: 4px !important;
}
.donvilogin div.webix_inp_static {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px !important;
}

.webix_view.webix_control.webix_el_checkbox.rememberlogin {
    margin-top: 4px !important;
}
.rememberlogin label.webix_inp_label {
    color: #36cb75 !important;
    font-weight: bold;
}
.webix_view.webix_control.webix_el_button.btnlogin {
    margin-top: 4px !important;
    border-radius: 15px !important;
    /*background-color: #1ca1c1;*/
}
.btnlogin button.webixtype_form {
    border-radius: 25px;
    background-color: #3498db;
    border-color: #3498db;
}
.btnlogin .webix_el_box .webixtype_form:hover {
    background-color: #2682bf !important;
}

.webix_view.webix_layout_line.linelogin {
    margin-top: 4px !important;
}
/*.webix_ss_header {
	border-right:1px solid #DADEE0 !important;
	border-right-color:#DADEE0 !important;
}*/

/*.passlogin {
	margin-top: 4px !important;
}*/

.trogiup :hover {
    color: red;
    background: #eaeefc;
}

.da_ky2 {
    background-color: #63b4ea;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 3px;
    color: #fff;
}

.da_ky1 {
}
.sidebarnampv {
    background-color: #0060af;
    color: white;
    font-family: arial;
    font-size: 13px !important;
}
.mainToolbar {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 22px;
    font-size: 11.5px;
}
.mainToolbar:hover {
    overflow: visible;
    white-space: pre-line;
    width: 500px;
}
.login {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-image: url("../assets/imgs/pic_login.jpg");
    /*background-image: linear-gradient(black, white);*/
    background-color: #cccccc;
    background-position: center;
    background-size: 100% 100%;
}
.lbldangnhap {
    color: #005eb2;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 80px !important;
    padding-top: 40px !important;
}
.footermobi {
    font-weight: bold;
    font-size: 15px;
}

.v-message {
    padding: 0px 20px;
    text-align: left;
}
/* .webix_layout_line .webix_view .title{
        width: 1000px !important;
} */
.webix_disabled_view[view_id="infohdon"] > .webix_disabled,
.webix_disabled_view[view_id="infokhang"] > .webix_disabled {
    opacity: 0;
}
