﻿@using Search_Invoice.Models;
@model LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hóa Đơn điện Tử SCTV</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/MobifoneUI/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/MobifoneUI/css/style.css">
    <style>
        span.field-validation-error.text-danger {
            color: red;
        }
        label.error {
            color: #f31414b0;
            font-size: 12px;
            margin-top: 8px;
        }
        .h-form {
            color: #005EB2;
            margin-top:2px;
            margin-bottom:18px;
        }
        .form-group label{
            line-height:1.4
        }
        .color-error {
            color: #d1111170;
        }
    </style>
</head>


<body>
    <div class="header">
        <a href="#default" class="logo"><img src="~/MobifoneUI/images/logo1.png" alt="" /></a>
    </div>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <h2 class="form-title">Đăng nhập</h2>
                            <form method="POST" class="register-form" id="register-form">
                                <!--<div class="form-group">
                            <label for="mst">MST ĐƠN VỊ BÁN</label>-->
                                @*@Html.TextBoxFor(model => model.mst, new { @class = "form-control", style = "display: none;", @Value = "0100686209" })
                                @Html.ValidationMessageFor(m => m.mst, "", new { @class = "text-danger" })*@
                                <!--@Html.TextBoxFor(model => model.mst, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.mst, "", new { @class = "text-danger" })

                            </div>-->
                                @* <input type="text" name="name" id="name" placeholder="" />*@
                                <div class="form-group">
                                    <label for="email" style="font-size:15px">Mã số thuế</label>
                                    @Html.TextBoxFor(model => model.username, new { @class = "form-control", @style = "text-transform:uppercase" })
                                    @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
                                    @*<input type="email" name="email" id="email" placeholder="" />*@
                                </div>
                                <div class="form-group">
                                    <label for="pass" style="font-size:15px">Mật khẩu</label>
                                    @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                                    @*<input type="password" name="pass" id="pass" placeholder="" />*@
                                </div>
                                <!-- <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                            </div> -->
                                <div class="form-group">
                                    <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                    <label for="agree-term" class="label-agree-term"><span><span></span></span>Ghi nhớ tài khoản  <!-- <a href="#" class="term-service">Terms of service</a> --></label>
                                </div>
                                <div class="form-group form-button">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success" style="width:80%">ĐĂNG NHẬP</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button id="register_submit" type="button" class="btn btn-primary" style="width:80%"> ĐĂNG KÝ</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <button id="revert_password" type="button" class="btn btn-light"><i class="zmdi zmdi-key" style="color: #0295e3"></i> Quên mật khẩu</button>
                                    </div>
                                    <div class="col-md-5">
                                        <button id="revert_main" type="button" class="btn btn-light"><i class="zmdi zmdi-long-arrow-left" style="color: #0295e3"></i> Quay lại trang tra cứu</button>
                                    </div>
                                </div>

                            </form>
                        }
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                @if (!ViewData.ModelState.IsValid && ViewData.ModelState["ErrorLogin"] != null)
                                {
                                    <div style="color:red">
                                        @ViewData.ModelState["ErrorLogin"].Errors[0].ErrorMessage
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                    <div class="signup-image">
                        <figure><img src="~/MobifoneUI/images/imglg.png" alt="sing up image"></figure>
                        <!-- <a href="#" class="signup-image-link">I am already member</a> -->
                    </div>
                </div>

            </div>
            <div class="gt">
                <div class="Hotline">
                    <span style="color: #999;font-size: 13px;font-weight: 600">Hotline</span><br>
                    <span style="color: black;font-size: 15px;font-weight: bold;">19001878</span>
                </div>
                <div class="email last">
                    <span style="color: #999">Email</span><br>
                    <span style="color: black;font-size: 15px;font-weight: bold;">hotro-hddt@sctv.vn</span>
                </div>
            </div>
        </section>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">QUÊN MẬT KHẨU</h4>
                    </div>
                    <div class="modal-body">
                        <h5 class="h-form">Hệ thống của SCTV sẽ gửi mật khẩu mới cho Quý khách hàng. Quý khách hàng dùng mật khẩu đó để đăng nhập vào phần mềm. Nhập đúng email của bạn</h5>
                        <form id="formEmail">
                            <div class="form-group">
                                <label for="masothue">Mã số thuế <span class="color-error">(*)</span></label>
                                <input name="masothue" class="form-control" aria-describedby="emailHelp" placeholder="Nhập mã số thuế" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email <span class="color-error">(*)</span></label>
                                <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Nhập email" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="btnEmail">Gửi lại email</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="myModal_register" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">ĐĂNG KÝ</h4>
                    </div>
                    <div class="modal-body">
                        <form id="formRegister">
                            <div class="form-group">
                                <label for="masothue">Mã số thuế <span class="color-error">(*)</span></label>
                                <input name="masothue" class="form-control" aria-describedby="emailHelp" placeholder="Nhập mã số thuế" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email <span class="color-error">(*)</span></label>
                                <input name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Nhập email" required>
                            </div>
                            <div class="form-group">
                                <label for="name">Tên khách hàng</label>
                                <input name="name" class="form-control" aria-describedby="emailHelp" placeholder="Nhập tên">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="btnRegister">Đăng ký</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- Sing in  Form -->

    </div>

    <!-- JS -->
    <script src="~/MobifoneUI/vendor/jquery/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="~/MobifoneUI/js/main.js"></script>
    <script type='text/javascript' src='~/UI/tracuu.minvoice.vn/wp-includes/js/bootbox.min.js'></script>

    <script>
        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }
        $("#formEmail").validate({
            messages: {
                email: {
                    required: "Trường bắt buộc nhập"
                },
                masothue: {
                    required: "Trường bắt buộc nhập"
                },
            }
        });
        $("#formRegister").validate({
            messages: {
                email: {
                    required: "Trường bắt buộc nhập"
                },
                masothue: {
                    required: "Trường bắt buộc nhập"
                },
            }
        });
        $("#revert_password").on("click", function () {
            $("#myModal").modal();
        });
        $("#register_submit").on("click", function () {
            $("#myModal_register").modal();
        });
        $("#revert_main").on("click", function () {
            window.location.href = '/trang-chu';
        });
        $("#formEmail").validate();
        $("#btnEmail").click(function () {
            var form = $("#formEmail");
            if (!form.valid()) {
                return;
            }
            var data = getFormData(form);
            bootbox.dialog({
                title: "Chờ xác nhận gửi email ...",
                message: "<p class='text-center' ><i style='font-size:350%;' class='fa fa-spin fa-spinner'></i></p>",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Hủy',
                        className: 'btn-danger',
                        callback: function () {
                            clearTimeout(interVal);
                            bootbox.hideAll();
                        }
                    }
                }
            });

            $.ajax({
                type: "post",
                url: "/Account/ForgotPassword",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (data, text) {
                    bootbox.hideAll();
                    if (data.ok) {
                        $('#myModal').modal('toggle');
                        bootbox.alert(data.ok);
                    }
                    else {
                        bootbox.alert(data.error);
                    }
                },
                error: function (request, status, error) {
                    bootbox.hideAll();
                    bootbox.alert(request.responseText);

                }
            });
        });
        $("#btnRegister").click(function () {
            var form = $("#formRegister");
            if (!form.valid()) {
                return;
            }
            var data = getFormData(form);
            bootbox.dialog({
                title: "hệ thống đang xử lí ...",
                message: "<p class='text-center' ><i style='font-size:350%;' class='fa fa-spin fa-spinner'></i></p>",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Hủy',
                        className: 'btn-danger',
                        callback: function () {
                            clearTimeout(interVal);
                            bootbox.hideAll();
                        }
                    }
                }
            });

            $.ajax({
                type: "post",
                url: "/Account/Register",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (data, text) {
                    bootbox.hideAll();
                    if (data.ok) {
                        $('#myModal_register').modal('toggle');
                        $("#formRegister")[0].reset();
                        bootbox.alert(data.ok);
                    }
                    else {
                        bootbox.alert(data.error);
                    }
                },
                error: function (request, status, error) {
                    bootbox.hideAll();
                    bootbox.alert(request.responseText);

                }
            });
        });
    </script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>