﻿@using Search_Invoice.Models;
@model LoginTaxViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hóa Đơn điện Tử SCTV</title>
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/MobifoneUI/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/MobifoneUI/css/style.css">
    <link rel="stylesheet" href="~/Content/export.css">
    <style>
        span.field-validation-error.text-danger {
            color: red;
        }
    </style>
</head>


<body>
    <div class="header">
        <a href="javascript:void(0)" class="logo"><img src="~/MobifoneUI/images/logo1.png" alt="" /></a>
    </div>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                @using (Html.BeginForm("LoginTax", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                        <h2 class="form-title">Đăng nhập</h2>
                        <form method="POST" class="register-form" id="register-form">
                            @*<div class="form-group">
                                @Html.TextBoxFor(model => model.mst, new { @class = "form-control", style = "display: none;", @Value = "0100686209" })
                                @Html.ValidationMessageFor(m => m.mst, "", new { @class = "text-danger" })
                              
                            </div>*@
                            @* <input type="text" name="name" id="name" placeholder="" />*@
                            <div class="form-group">
                                <label for="email">TÊN TRUY CẬP</label>
                                @Html.TextBoxFor(model => model.username, new { @class = "form-control",  @style = "text-transform:uppercase" })
                                @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-danger" })
                                @*<input type="email" name="email" id="email" placeholder="" />*@
                            </div>
                            <div class="form-group">
                                <label for="pass">MẬT KHẨU</label>
                                @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                                @*<input type="password" name="pass" id="pass" placeholder="" />*@
                            </div>
                            <!-- <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                            </div> -->
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>Ghi nhớ tài khoản  <!-- <a href="#" class="term-service">Terms of service</a> --></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="ĐĂNG NHẬP" />
                            </div>
                        </form>
                }                       
                         <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center">
                                @if (!ViewData.ModelState.IsValid && ViewData.ModelState["ErrorLogin"] != null)
                                {
                                    <div style="color:red">
                                        @ViewData.ModelState["ErrorLogin"].Errors[0].ErrorMessage
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                    <div class="signup-image">
                        <figure><img src="~/MobifoneUI/images/imglg.png" alt="sing up image"></figure>
                        <!-- <a href="#" class="signup-image-link">I am already member</a> -->
                    </div>
                </div>

            </div>
            <div class="gt">
                <div class="Hotline">
                    <span style="color: #999;font-size: 13px;font-weight: 600">Hotline</span><br>
                    <span style="color: black;font-size: 15px;font-weight: bold;">19001878</span>
                </div>
                <div class="email last">
                    <span style="color: #999">Email</span><br>
                    <span style="color: black;font-size: 15px;font-weight: bold;">hotro-hddt@sctv.vn</span>
                </div>
            </div>
        </section>

        <!-- Sing in  Form -->

    </div>

    <!-- JS -->
    <script src="~/MobifoneUI/vendor/jquery/jquery.min.js"></script>
    <script src="~/MobifoneUI/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>