﻿.modal-dialog {
    /*height: 80% !important;*/
    padding-top: 10% !important;
}

.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

#tbl tbody {
    height: 670px;
    overflow-y: auto;
    width: 100%;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.modal-content {
    /*height: 100% !important;*/
    overflow: visible;
}

.modal-body {
    /*height: 70%;*/
    overflow: auto;
}

.bootbox .modal-title {
    line-height: 1.1 !important;
}

.bootbox .modal-header {
    display: block !important;
}

p.text-center {
    margin-top: 25px;
    color: black;
}

.box_title {
    text-align: center;
}

    .box_title h4 {
        color: #005EB2;
        font-size: 22px;
    }

h4.modal-title {
    font-size: 20px;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #eceeef;
}

.box-body > .fixed-column {
    position: absolute;
    display: inline-block;
    width: auto;
    border-right: 1px solid #ddd;
}

.profile-pic {
}

.text-center {
    text-align: center;
}

.container-fluid {
    padding-bottom: 0px;
}

.specifictd {
    /*word-wrap: break-all;*/
    /*width: 360px;*/ /* adjust to desired wrapping */
    /*display: table;
        white-space: pre-wrap;*/ /* css-3 */
    /*white-space: -moz-pre-wrap;*/ /* Mozilla, since 1999 */
    /*white-space: -pre-wrap;*/ /* Opera 4-6 */
    /*white-space: -o-pre-wrap;*/ /* Opera 7 */
    /*word-wrap: break-word;*/ /* Internet Explorer 5.5+ */
    font-size: 13px;
    line-height: 1.8;
    color: #222;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#page-wrapper {
    padding: 0;
}

.fix-header .navbar-static-top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
}

.fix-header #page-wrapper {
    margin-top: 80px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #337ab7;
    border-color: #337ab7;
}

i.fa.fa-eye:hover {
    cursor: pointer;
}

table tbody tr td p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.top-center-part {
    text-align: center;
    font-size: 30px;
    font-weight: 450;
    color: grey;
    position: absolute;
    margin: auto;
    width: 100%;
}

.top-left-part a img {
    width: 13%;
    float: left;
    top: -30px;
    position: absolute;
}

.header a.logo {
    max-width: 200%;
    width: 14%;
}

@media (min-width: 768px) {
    .modal-xl {
        width: 90%;
        max-width: 1200px;
    }
}

@media (max-width: 820px) {
    .col-md-5 {
        max-width: 100% !important;
    }
}

@media (max-width: 320px) {
    .profile-pic {
        display: none !important;
    }
}

@media (max-width: 500px) {
    .profile-pic {
        -webkit-border-radius: 50px !important;
        padding: 0 15px !important;
        margin-right: 20px !important;
        font-size: 12px;
        line-height: 40px;
    }

    .top-left-part a img {
        height: 60px;
        width: 120px;
    }

    .top-center-part {
        display: none;
    }
}


@media (max-width: 1250px) {
    .top-center-part {
        display: none;
    }
}