﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PageHomeLayout.cshtml";
}
<style>
    .table-bordered thead td, .table-bordered thead th {
        font-size: 12px !important;
    }

    .table td {
        font-size: 12px !important;
    }

    .modal-title {
        line-height: 1.1 !important;
    }

    .modal-header {
        display: block !important;
    }

    p.text-center {
        margin-top: 25px;
        color: black;
    }

    .box_title {
        text-align: center;
    }

        .box_title h4 {
            color: #005EB2;
            font-size: 22px;
        }

    h4.modal-title {
        font-size: 20px;
    }

    button.btn.btn-danger {
        font-size: 12px;
    }

    .k-grid-content > table > tbody > tr {
        background: White;
    }

    .modal-dialog {
        /*height: 80% !important;*/
        padding-top: 10%;
    }

    .modal-content {
        /*height: 100% !important;*/
        overflow: visible;
    }

    .modal-body {
        /*height: 70%;*/
        overflow: auto;
    }

    .label-edit {
        display: inline !important;
    }

    .table td, .table th {
        padding: .25rem !important;
    }

    #tableInvoice tr {
        text-align: center;
    }

    #tableInvoice thead {
        text-align: center;
        color: #ffffff;
    }

    .table thead {
        background-color: #005EB2;
    }

    i.fa.fa-eye.text-info {
        border-radius: 11px;
        padding: 5px;
        background-color: #cde5ff;
        margin: 0 auto;
    }

    i.fas.fa-file-archive.text-danger {
        border-radius: 11px;
        padding: 5px;
        background-color: #FCECD6;
        margin: 0 auto;
    }

    .text-danger {
        color: #F7CC92;
    }

    i.fas.fa-print.text-success {
        border-radius: 11px;
        padding: 5px;
        background-color: #cde5ff;
        margin: 0 auto;
    }

    .fa-file-archive:before {
        font-size: small;
    }
</style>
<div>
    <div class="signup-content1" style="padding-bottom: 20px">
        <div class="line"></div>
        <div class="signup-form-fix">
            <h3 class="form-title">Mời nhập thông tin tra cứu</h3>
            <form method="POST" class="register-form" id="frmIndex">
                @*<div class="form-group">
                    <label for="mst" class="label-edit">MÃ SỐ THUẾ ĐƠN VỊ BÁN (*)</label>
                    <input type="text" id="txtMST" name="masothue" placeholder="" />
                </div>*@
                <div class="form-group">
                    <label for="email" class="label-edit">MÃ TRA CỨU HÓA ĐƠN(*)</label>
                    <input type="text" id="txtSobaomat" name="sobaomat" placeholder="" />
                </div>

                <!-- <div class="form-group">
                    <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                    <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password"/>
                </div> -->


            </form>
            <!--<div class="aaaa">
                <div class="text-block">
                    <p class="texttt" style="text-align: center;"> KẾT QUẢ TRA CỨU </p>
                </div>-->
                 @*<span>HOẶC KÉO THẢ FILE HÓA ĐƠN (.ZIP)</span>*@ 
            <!--</div>-->
            @*<div class="image-upload-wrap">
                <input class="file-upload-input" type='file' name="file" id="input-file-now" accept="application/zip" />
                <div class="drag-text" style="height: 70px">
                    <img id="next" src="~/MobifoneUI/images/icon.png" width="1" height="1">
                </div>
            </div>*@
            <br />
            <div class="form-group form-button" style="text-align: center;">
                <input type="submit" id="btnInvoice" class="form-submit" value="XEM HÓA ĐƠN" />
            </div>
            <div class="row" hidden="hidden" id="divInvoice">
                <div class="col-sm-12">
                    <div class="white-box">
                        <div class="box_title">
                            <h4 class="box-title m-b-0">Kết quả tra cứu</h4>
                            <p class="text-muted m-b-20">Thông tin hóa đơn mà quý khách hàng đã tra cứu !</p>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered" hidden="hidden" id="tableInvoice">
                                <thead>
                                    <tr>
                                        <th>Mẫu số</th>
                                        <th>Ký hiệu</th>
                                        <th>Số hóa đơn</th>
                                        <th>Ngày hóa đơn</th>
                                        <th>Tổng tiền</th>
                                        <th>Tải xuống</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--Thêm boby của bảng vào đây-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="gt-fix">
        <div class="Hotline-fix">
            <span style="color: #999;font-size: 13px;font-weight: 600">Hotline</span><br>
            <span style="color: black;font-size: 15px;font-weight: bold;">19001878</span>
        </div>
        <div class="email-fix last-fix">
            <span style="color: #999">Email</span><br>
            <span style="color: black;font-size: 15px;font-weight: bold;">hotro-hddt@sctv.vn</span>
        </div>
    </div>
</div>

<script>
    function handleFileSelect(evt) {
        var files = evt.target.files;
        //console.log(files[0].type);
        var arr = ['application/zip', 'application/octet-stream', 'application/x-zip-compressed', 'multipart/x-zip'];

        //if (files[0].type != "application/zip") {
        if (arr.indexOf(files[0].type) == -1) {
            bootbox.alert("Định dạng File không đúng (*.zip) !");
            return;
        } else {
            if (files[0].size <= 0) {
                bootbox.alert("Bạn chưa chọn File !");
                return;
            } else {
                //$(':button[type="submit"]').prop('disabled', false);
                var data = new FormData();
                var file = $('input[type=file]')[0].files[0];
                data.append('file', file);

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/TracuuFile/UploadInv', true);
                xhr.responseType = 'arraybuffer';
                xhr.send(data);
                xhr.onload = function () {
                    if (this.status === 200) {
                        var filename = "";
                        var disposition = xhr.getResponseHeader('Content-Disposition');
                        if (disposition && disposition.indexOf('attachment') !== -1) {
                            var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                            var matches = filenameRegex.exec(disposition);
                            if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                        }
                        var type = xhr.getResponseHeader('Content-Type');

                        var blob = typeof File === 'function' ? new File([this.response], filename, {
                            type: type
                        }) : new Blob([this.response], {
                            type: type
                        });
                        if (typeof window.navigator.msSaveBlob !== 'undefined') {
                            window.navigator.msSaveBlob(blob, filename);
                        } else {
                            var URL = window.URL || window.webkitURL;
                            var downloadUrl = URL.createObjectURL(blob);

                            if (filename) {
                                var a = document.createElement("a");
                                if (typeof a.download === 'undefined') {
                                    var newWindow = window.open('/');
                                    newWindow.onload = () => {
                                        newWindow.location = downloadUrl;
                                    };
                                    $("#input-file-now").val(null);
                                    //window.open(downloadUrl, '_blank');
                                } else {
                                    var newWindow = window.open('/');
                                    newWindow.onload = () => {
                                        newWindow.location = downloadUrl;
                                    };
                                    $("#input-file-now").val(null);
                                    //window.open(downloadUrl, '_blank');
                                }
                            } else {
                                var newWindow = window.open('/');
                                newWindow.onload = () => {
                                    newWindow.location = downloadUrl;
                                };
                                $("#input-file-now").val(null);
                                // window.open(downloadUrl, '_blank');
                            }

                            //setTimeout(function() {
                            //    URL.revokeObjectURL(downloadUrl);
                            //}, 100);
                        }
                    } else {
                        bootbox.alert("Có lỗi xảy ra !");
                    }
                };
            }
        }

    }

    document.getElementById('input-file-now').addEventListener('change', handleFileSelect, false);
</script>
<script>
    function PrintInvoicePDF(sbm, mst, type) {
        bootbox.dialog({
            title: "Đang in hóa đơn ...",
            message: "<p class='text-center' ><i style='font-size:350%;' class='fa fa-spin fa-spinner'></i></p>",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times"></i> Hủy',
                    className: 'btn-danger',
                    callback: function () {
                        clearTimeout(interVal);
                        bootbox.hideAll();
                    }
                }
            }
        });

        var interVal = setTimeout(function () {
            var model = '{ "sobaomat": "' + sbm + '", "masothue": "' + mst + '","type":"' + type + '" }';

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/Tracuu2/PrintInvoice', true);
            xhr.setRequestHeader("Content-type", "application/json;charset=UTF-8");
            xhr.responseType = 'arraybuffer';
            xhr.send(model);
            xhr.onload = function () {
                if (this.status === 200) {
                    var filename = "";
                    var disposition = xhr.getResponseHeader('Content-Disposition');
                    if (disposition && disposition.indexOf('attachment') !== -1) {
                        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                        var matches = filenameRegex.exec(disposition);
                        if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                    }
                    var type = xhr.getResponseHeader('Content-Type');

                    var blob = typeof File === 'function' ? new File([this.response], filename, {
                        type: type
                    }) : new Blob([this.response], {
                        type: type
                    });

                    if (typeof window.navigator.msSaveBlob !== 'undefined') {
                        window.navigator.msSaveBlob(blob, filename);
                    } else {
                        var URL = window.URL || window.webkitURL;
                        var downloadUrl = URL.createObjectURL(blob);

                        if (filename) {
                            var a = document.createElement("a");
                            if (typeof a.download === 'undefined') {
                                bootbox.hideAll();
                                clearTimeout(interVal);
                                var newWindow = window.open('/');
                                newWindow.onload = () => {
                                    newWindow.location = downloadUrl;
                                };
                                //var a = document.createElement("a");
                                //a.target = '_blank';
                                //document.body.appendChild(a);

                                //a.href = downloadUrl;
                                //var image = document.createElement('image');
                                //image.src = 'data:image/bmp;base64,' + blob;
                                //document.body.appendChild(image);

                                //window.open(downloadUrl, '_blank');
                            } else {
                                bootbox.hideAll();
                                clearTimeout(interVal);
                                var newWindow = window.open('/');
                                newWindow.onload = () => {
                                    newWindow.location = downloadUrl;
                                };
                                //window.open(downloadUrl, '_blank');
                            }
                        } else {
                            bootbox.hideAll();
                            clearTimeout(interVal);
                            var newWindow = window.open('/');
                            newWindow.onload = () => {
                                newWindow.location = downloadUrl;
                            };
                            //window.open(downloadUrl, '_blank');
                        }

                        //setTimeout(function () {
                        //    URL.revokeObjectURL(downloadUrl);
                        //    bootbox.hideAll();
                        //    clearTimeout(interVal);
                        //}, 100);
                    }
                } else {
                    bootbox.hideAll();
                    clearTimeout(interVal);
                    //console.log(this.response);
                    bootbox.alert("Có lỗi xảy ra !");
                }
            };
        }, 1000);
    }
</script>
<script>
    function ExportZipXML(sbm, mst) {
        bootbox.dialog({
            title: "Đang Export hóa đơn File .Zip ...",
            message: "<p class='text-center' ><i style='font-size:350%;' class='fa fa-spin fa-spinner'></i></p>",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times"></i> Hủy',
                    className: 'btn-danger',
                    callback: function () {
                        clearTimeout(interVal);
                        bootbox.hideAll();
                    }
                }
            }
        });
        var interVal = setTimeout(function () {
            var model = '{ "sobaomat": "' + sbm + '", "masothue": "' + mst + '" }';
            var kiki = JSON.parse(model);
            console.log(kiki);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/Tracuu2/ExportZipFileXML', true);
            xhr.setRequestHeader("Content-type", "application/json;charset=UTF-8");
            xhr.responseType = 'arraybuffer';
            xhr.send(model);
            xhr.onload = function () {
                if (this.status === 200) {

                    var filename = "";
                    var disposition = xhr.getResponseHeader('Content-Disposition');
                    if (disposition && disposition.indexOf('attach') !== -1) {
                        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                        var matches = filenameRegex.exec(disposition);
                        if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                    }
                    var type = xhr.getResponseHeader('Content-Type');

                    var blob = typeof File === 'function' ? new File([this.response], filename, {
                        type: type
                    }) : new Blob([this.response], {
                        type: type
                    });
                    if (typeof window.navigator.msSaveBlob !== 'undefined') {

                        window.navigator.msSaveBlob(blob, filename);
                    } else {
                        var URL = window.URL || window.webkitURL;
                        var downloadUrl = URL.createObjectURL(blob);
                        if (filename) {
                            var a = document.createElement("a");
                            if (typeof a.download === 'undefined') {
                                bootbox.hideAll();
                                clearTimeout(interVal);
                                if (navigator.userAgent.indexOf("Safari") != -1) {
                                    window.location.assign(downloadUrl);
                                }
                                else {
                                    var newWindow = window.open('/');
                                    newWindow.onload = () => {
                                        newWindow.location = downloadUrl;
                                    };
                                }
                            } else {
                                bootbox.hideAll();
                                clearTimeout(interVal);
                                if (navigator.userAgent.indexOf("Safari") != -1) {
                                    const a = document.createElement("a");
                                    document.body.appendChild(a);
                                    a.href = downloadUrl;
                                    a.download = filename;
                                    a.click();
                                    setTimeout(() => {
                                        window.URL.revokeObjectURL(downloadUrl);
                                        document.body.removeChild(a);
                                    }, 0);

                                }
                                else {
                                    var newWindow = window.open('/');
                                    newWindow.onload = () => {
                                        newWindow.location = downloadUrl;
                                    };
                                }
                            }
                        } else {
                            bootbox.hideAll();
                            clearTimeout(interVal);
                            if (navigator.userAgent.indexOf("Safari") != -1) {
                                const a = document.createElement("a");
                                document.body.appendChild(a);
                                a.href = downloadUrl;
                                a.download = filename;
                                a.click();
                                setTimeout(() => {
                                    window.URL.revokeObjectURL(downloadUrl);
                                    document.body.removeChild(a);
                                }, 0);

                            }
                            else {
                                var newWindow = window.open('/');
                                newWindow.onload = () => {
                                    newWindow.location = downloadUrl;
                                };
                            }
                        }
                    }
                } else {
                    bootbox.hideAll();
                    clearTimeout(interVal);
                    bootbox.alert("Có lỗi xảy ra !");
                }
            };
        }, 1000);
    }
</script>
<script>

    $(document).ready(function () {
        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        $("#btnInvoice").click(function () {
            bootbox.dialog({
                title: "Đang tra cứu hóa đơn",
                message: "<p class='text-center' ><i style='font-size:350%;' class='fa fa-spin fa-spinner'></i></p>",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Hủy',
                        className: 'btn-danger',
                        callback: function () {
                            clearTimeout(interVal);
                            bootbox.hideAll();
                        }
                    }
                }
            });
            var interVal = setTimeout(function () {
                var $form = $('#frmIndex');
                var datapost = $form.serialize();

                var model = getFormData($form);

                model.sobaomat = model.sobaomat.replace(/[\u00A0-\u9999<>\&]/gim, function (i) {
                    return '&#' + i.charCodeAt(0) + ';';
                });

                model.masothue = "172";

                var dataObject = JSON.stringify(model);

                $.ajax({
                    url: "/Tracuu2/GetInfoInvoice",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: dataObject,
                    success: function (result) {

                        if (!result.hasOwnProperty("error")) {

                            $('#divInvoice').prop('hidden', false);
                            $('#tableInvoice').prop('hidden', false);
                            $("#tableInvoice tbody>tr").remove();

                            if (result.isTT32 == "1") {
                                for (var i = 0; i < result.data.length; i++) {
                                    var tien = result.data[i].total_amount == null ? '' : result.data[i].total_amount.toLocaleString();
                                    $("#tableInvoice").find('tbody')
                                        .append('<tr><td>' + result.data[i].template_code + '</td><td>' + result.data[i].invoice_series + '</td><td>' + result.data[i].invoice_number + '</td>' +
                                            '<td>' + moment(result.data[i].invoice_issued_date).format("DD/MM/YYYY") + '</td>' +
                                            '<td>' + tien + '</td>' +
                                            '<td><a href="#" onClick = "PrintInvoicePDF(\'' + result.data[i].security_number.toString() + '\',\'' + result.data[i].mst.toString() + '\',\'PDF\');" data-toggle="tooltip" data-placement="top" title="Dowload File PDF"><i class="fa fa-eye text-info m-r-10"></i></a>' +
                                            ' <a href="#" onClick = "ExportZipXML(\'' + result.data[i].security_number.toString() + '\',\'' + result.data[i].mst.toString() + '\');" data-toggle="tooltip" data-placement="top" title="Dowload File .Zip XML"><i class="fas fa-file-archive text-danger m-r-10"></i></a></td></tr>');
                                }
                            }
                            else if (result.isTT32 == "0") {
                                for (var i = 0; i < result.data.length; i++) {
                                    var tien = result.data[i].tgtttbso == null ? '' : result.data[i].tgtttbso.toLocaleString();
                                    $("#tableInvoice").find('tbody')
                                        .append('<tr><td>' + result.data[i].khieu.substring(0, 1) + '</td><td>' + result.data[i].khieu.substring(1) + '</td><td>' + result.data[i].shdon + '</td>' +
                                            '<td>' + moment(result.data[i].tdlap).format("DD/MM/YYYY") + '</td>' +
                                            '<td>' + tien + '</td>' +
                                            '<td><a href="#" onClick = "PrintInvoicePDF(\'' + result.data[i].sbmat.toString() + '\',\'' + result.data[i].mst.toString() + '\',\'PDF\');" data-toggle="tooltip" data-placement="top" title="Dowload File PDF"><i class="fa fa-eye text-info m-r-10"></i></a>' +
                                            ' <a href="#" onClick = "ExportZipXML(\'' + result.data[i].sbmat.toString() + '\',\'' + result.data[i].mst.toString() + '\');" data-toggle="tooltip" data-placement="top" title="Dowload File .Zip XML"><i class="fas fa-file-archive text-danger m-r-10"></i></a></td></tr>');
                                }
                            }
                            
                            bootbox.hideAll();
                            clearTimeout(interVal);
                        }
                        else {
                            $("#tableInvoice tbody>tr").remove();
                            bootbox.hideAll();
                            clearTimeout(interVal);
                            bootbox.alert(result.error);
                        }
                    }
                });
            }, 1000);
        });


        $('#btnUpFile').click(function () {
            var data = new FormData();
            var file = $('input[type=file]')[0].files[0];
            data.append('file', file);

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/TracuuFile/UploadInv', true);
            xhr.responseType = 'arraybuffer';
            xhr.send(data);
            xhr.onload = function () {
                if (this.status === 200) {
                    var filename = "";
                    var disposition = xhr.getResponseHeader('Content-Disposition');
                    if (disposition && disposition.indexOf('attachment') !== -1) {
                        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                        var matches = filenameRegex.exec(disposition);
                        if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                    }
                    var type = xhr.getResponseHeader('Content-Type');

                    var blob = typeof File === 'function' ? new File([this.response], filename, {
                        type: type
                    }) : new Blob([this.response], {
                        type: type
                    });
                    if (typeof window.navigator.msSaveBlob !== 'undefined') {
                        window.navigator.msSaveBlob(blob, filename);
                    } else {
                        var URL = window.URL || window.webkitURL;
                        var downloadUrl = URL.createObjectURL(blob);

                        if (filename) {
                            var a = document.createElement("a");
                            if (typeof a.download === 'undefined') {
                                var newWindow = window.open('/');
                                newWindow.onload = () => {
                                    newWindow.location = downloadUrl;
                                };
                                //window.open(downloadUrl, '_blank');
                            } else {
                                var newWindow = window.open('/');
                                newWindow.onload = () => {
                                    newWindow.location = downloadUrl;
                                };
                                //window.open(downloadUrl, '_blank');
                            }
                        } else {
                            var newWindow = window.open('/');
                            newWindow.onload = () => {
                                newWindow.location = downloadUrl;
                            };
                            // window.open(downloadUrl, '_blank');
                        }

                        //setTimeout(function() {
                        //    URL.revokeObjectURL(downloadUrl);
                        //}, 100);
                    }
                } else {
                    bootbox.alert("Có lỗi xảy ra !");
                }
            };

        });


    });
</script>