﻿<div class="huongdan-fix">
    <a href="#default" class="logo-fix"><img src="~/MobifoneUI/images/logo1.png" alt="" /></a>
    <div style="line-height: 1.5; margin-bottom: 0px; text-align: justify;">
        <p>
            <h4 style="font-size: 20px; font-weight: bold; color: #f90000; text-align: center; ">HỆ THỐNG TRA CỨU THÔNG TIN <br /> HÓA ĐƠN ĐIỆN TỬ SCTV</h4><br />
            Kính chào Quý Khách hàng/Quý đối tác<br /><br />
            Nhằm nâng cao chất lượng dịch vụ cung cấp, SCTV xin gửi tới Quý Khách hàng/Quý đối tác trang web tra cứu hóa đơn điện tử liên quan đến sản phẩm hóa đơn điện tử của SCTV. Quý Khách hàng/Quý đối tác vui lòng nhập đầy đủ thông tin yêu cầu để tra cứu hóa đơn.<br /><br />
            SCTV rất cảm ơn sự cộng tác của Quý Khách hàng/Quý đối tác. Dữ liệu của Quý Khách hàng/Quý đối tác sẽ được đảm bảo giữ bí mật tuyệt đối
        </p>
    </div>
</div>