﻿
<!DOCTYPE html>

<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="http://tracuuhoadon.minvoice.vn/Content/plugins/images/fa-icon.png">

    <title>Hóa đơn điện tử Mobi-Invoice</title>

    <!-- Bootstrap Core CSS -->
    <link href="/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/plugins/bower_components/bootstrap-extension/css/bootstrap-extension.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="/MobifoneUICustomer/css/animate.css" rel="stylesheet">
    <!-- Footable CSS -->
    <link href="/Content/plugins/bower_components/footable/css/footable.core.css" rel="stylesheet">
    <link href="/Content/plugins/bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <!-- Menu CSS -->
    <link href="/Content/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/MobifoneUICustomer/css/style.css" rel="stylesheet">
    <link href="/Content/export.css" rel="stylesheet">
    <!-- color CSS gray/blue/purple/megna/default -->
    @*<link href="/Content/css/colors/default.css" id="theme" rel="stylesheet">*@
    <!-- Kendo Style CSS -->
    @*<link rel="stylesheet" href="/Content/kendo/styles/kendo.common-bootstrap.min.css">*@
    @*<link rel="stylesheet" href="/Content/kendo/styles/kendo.bootstrap.min.css">*@
    <!--alerts CSS -->
    <link href="/Content/plugins/bower_components/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' id='font-awesome-css' href='~/UI/tracuu.minvoice.vn/wp-content/themes/minvoice/css/fontawesome/css/all0e7d.css?ver=5.1.0' type='text/css' media='all' />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <script src="/Content/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Content/bootstrap/dist/js/tether.min.js"></script>
    <script src="/Content/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Content/plugins/bower_components/bootstrap-extension/js/bootstrap-extension.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="/Content/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/Content/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/Content/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Content/js/custom.min.js"></script>
    <script src="/Content/js/jasny-bootstrap.js"></script>
    <!--Style Switcher -->
    <script src="/Content/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <script src="/Content/plugins/chartjs/Chart.min.js"></script>
    <!-- Footable -->
    <script src="/Content/plugins/bower_components/footable/js/footable.all.min.js"></script>
    <script src="/Content/plugins/bower_components/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!--FooTable init-->
    <script src="/Content/plugins/footable-init.js"></script>
    <!-- bootbox  -->
    <script src="/Scripts/bootbox.min.js"></script>
    <!-- ment.js  -->
    <script src="~/Scripts/moment.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
</head>

<body class="fix-header">
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        @Html.Action("HeaderTax", "Home")

        <!-- Left side column. contains the logo and sidebar -->
        <!-- Content Wrapper. Contains page content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <section class="content" style="padding-left:0 !important; padding-right: 0 !important;min-height: 875px;">
                    <div class="row">
                        @*@Html.Action("Sidebar", "Home")*@
                        @*<div class="col-md-2">
                            <h1 style="font-weight: bold;font-size: 25px; color: #005EB2; text-align: center;">Tra cứu hóa đơn</h1>
                            <div id="tree"></div>
                        </div>*@
                        <div class="col-md-12 white-box1">
                            <div class="box-title">

                            </div>
                            @RenderBody()
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <script type="text/javascript">
        function abc() {
            bootbox.confirm("<form class='doimk' id='infos' action=''>\
        Mật khẩu cũ:<input class = 'form-control' type='text' name='password' /><br/>\
        Mật khẩu mới:<input class = 'form-control' type='text' name='newpassword' /><br/>\
        Nhập lại mật khẩu:<input class = 'form-control' type='text' name='renewpassword' />\
        </form>", function (result) {
        if (result) {
            var jk = $("#infos").serialize();
            //console.log(jk);

            $.ajax({
                url: "/Account/ChangePassword_Use",
                type: "POST",
                data: jk,
                success: function (result) {

                    result = JSON.parse(result);
                    if (!result.hasOwnProperty("error")) {

                        bootbox.alert("Đổi mật khẩu thành công !");
                        $.get("/Account/Logoff", function (data) {
                        });
                    }
                    else {
                        bootbox.alert(result.error);
                    }
                }
            });
        }
    });
    }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
