﻿@using Search_Invoice.Models;
@model Pager
<ul class="pagination pull-left">
    <li class="page-item" style="font-weight: bold;">Tổng số : @Model.TotalItems</li>
</ul>
<ul class="pagination pull-right">
    @{
        var numberPage = Model.NumberPage;
        var currentPage = Model.PageCurrent;
        var offset = Model.Offset;//number display page
        var total = Model.TotalItems;
        if (currentPage > 1)
        {
            var prevPage = currentPage - 1;
            <li>
                <a href="javascript:void(0)" page="@prevPage">Prev</a>
            </li>
        }
        const int pageLeft = 5;
        const int pagesRight = 5;
        var fromPage = Math.Max(1, currentPage - pageLeft);
        //var fromPage = currentPage;// Math.Max(currentPage, currentPage > pageLeft ? currentPage : 1);

        var toPage = Math.Min(numberPage, currentPage + pagesRight);
        if (numberPage - toPage == 1)
        {
            toPage = numberPage;
        }
        if (fromPage > 1)
        {
            <li>
                <a href="javascript:void(0)" page="1">1</a>
            </li>
            if (fromPage > 2)
            {
                var middleNumber = Math.Max(1, currentPage - pageLeft);// (int)Math.Ceiling((double)(fromPage - pageLeft) / pageLeft + 1);
                <li>
                    <a href="javascript:void(0)" page="@middleNumber">...</a>
                </li>
            }
        }
        for (var i = fromPage; i <= toPage; i++)
        {
            <li @Html.Raw(currentPage == i ? "class=\"page-item active\"" : "")>
                <a href="javascript:void(0)" page="@i">@i</a>
            </li>
        }
        if (toPage < numberPage)
        {
            var middleNumber = Math.Min(numberPage, toPage + pagesRight);// (int)Math.Ceiling((double)(numberPage - toPage) / pagesRight) + toPage;
            <li>
                <a  href="javascript:void(0)" page="@middleNumber">...</a>
            </li>
            if (toPage < numberPage - 1)
            {
                <li>
                    <a  href="javascript:void(0)" page="@numberPage">@numberPage</a>
                </li>
            }
        }
        if (currentPage < numberPage)
        {
            var nextPage = currentPage + 1;
            <li>
                <a href="javascript:void(0)" page="@nextPage">Next</a>
            </li>
        }
    }
</ul>
