﻿<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
        <div class="top-left-part">
            <a class="logo" href="javascript:void(0)">
                <span class="hidden-xs"><img src="~/MobifoneUICustomer/img/logo1.png" alt="home" width="140" /></span>
            </a>
        </div>

        <ul class="nav navbar-top-links navbar-right pull-right" id="user_head">
            <li class="dropdown">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#">

                    <b class="hidden-xs">@User.Identity.Name.ToUpper()</b>
                </a>
                <ul class="dropdown-menu dropdown-user animated flipInY">
                    @*<li><a href="#">My Profile</a></li>*@
                    <li role="separator" class="divider"></li>
                    <li><a onclick="abc();">Đổi mật khẩu</a></li>
                    <li><a href="/Account/LogOff">Đăng xuất</a></li>
                </ul>
                <!-- /.dropdown-user -->
            </li>

        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>