﻿
@{
    ViewBag.Title = "buyerSign";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = null;
}
<style>
    /*html,body {
        height:100%;
    }*/
    .h_iframe iframe {
        position: center;
        top: 100px;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<form class="form" id="frmSearch">
    <div class="row">
        <div class="abc">
            <div class="ngay" style="background-color: red">
                <div class="col-md-1">
                    <a href="javascript:void(0)" type="button" id="btn-buyer-sign" class="btn btn-success" style="color: white" onclick="buyerSignature()" title="Ký hóa đơn"><i class="fas fa-signature"></i> Ký hóa đơn</a>
                    @*<button type="button" id="btnSearch" class="btn btn-success" style="background-color: white;color: #005EB2; font-weight: 600; margin-top: 5px;border-radius: 5px;">Ký hóa đơn</button>*@
                </div>
            </div>
        </div>
        <!--/span-->
    </div>

</form>
<div class="container">
    <input id="hdon_id" value="@ViewBag.ID" hidden>
    <input id="version" value="@ViewBag.Version" hidden>
    <input id="mst" value="@ViewBag.Mst" hidden>
    <div class="h_iframe">
        <iframe src="@ViewBag.URL"
                allowfullscreen="allowfullscreen"
                mozallowfullscreen="mozallowfullscreen"
                msallowfullscreen="msallowfullscreen"
                oallowfullscreen="oallowfullscreen"
                webkitallowfullscreen="webkitallowfullscreen"
                frameborder="0"></iframe>
    </div>
</div>
<script src="~/Content/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="http://localhost:19898/signalr/signalr/hubs"></script>
<script>
    function buyerSignature() {
        debugger;

        var SignalrConnection;
        $.connection.hub.url = "http://localhost:19898/signalr";
        SignalrConnection = $.connection.invoiceHub;

        if (SignalrConnection == null) {
            bootbox.alert("Chưa bật plugin ký. Vui lòng kiểm tra và tải lại trang web để thực hiện chức năng");
            return false;
        }


        $.connection.hub.start().done(function () {

            var hdon_id = $("#hdon_id").val();
            var version = $("#version").val();
            var mst = $("#mst").val();

            bootbox.dialog({
                title: "Đang ký hóa đơn",
                message: "<p class='text-center' ><i style='font-size:350%;' class='fa fa-spin fa-spinner'></i></p>",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Hủy',
                        className: 'btn-danger',
                        callback: function () {
                            clearTimeout(interVal);
                            bootbox.hideAll();
                        }
                    }
                }
            });

            if (version === "78") {
                var interVal = setTimeout(function () {
                    $.ajax({
                        url: "/Customer/getXml78?id=" + hdon_id,
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        //data: dataObject,
                        success: function (result) {

                            if (!result.hasOwnProperty("error")) {
                                var k = JSON.parse(result);

                                SignalrConnection.server.buyerSign68(k.xml).done(function (result) {

                                    if (!result.hasOwnProperty("error") && result != "") {

                                        var data = {
                                            hdon_id: hdon_id,
                                            InvoiceXmlData: result,
                                            urlHost: mst
                                        };

                                        $.ajax({
                                            url: "/Customer/saveXml78",
                                            type: "POST",
                                            dataType: 'json',
                                            contentType: "application/json",
                                            data: JSON.stringify(data),
                                            success: function (result) {
                                                if (!result.hasOwnProperty("error")) {
                                                    bootbox.alert({
                                                        message: "Ký hóa đơn thành công. Vui lòng nhấn xem lại hóa đơn",
                                                        callback: function () {
                                                            bootbox.hideAll();
                                                            clearTimeout(interVal);
                                                        }
                                                    });
                                                }
                                                else {
                                                    bootbox.hideAll();
                                                    clearTimeout(interVal);
                                                    bootbox.alert({
                                                        size: "small",
                                                        title: "Error",
                                                        message: result.toString()
                                                    });
                                                }
                                            },
                                            error: function (res) {
                                                bootbox.hideAll();
                                                clearTimeout(interVal);
                                                bootbox.alert({
                                                    size: "small",
                                                    title: "Error",
                                                    message: res
                                                });
                                            }
                                        });
                                    }
                                    else {
                                        bootbox.hideAll();
                                        clearTimeout(interVal);
                                        bootbox.alert({
                                            size: "small",
                                            title: "Error",
                                            message: result.error
                                        });
                                    }
                                });

                            }
                            else {
                                bootbox.hideAll();
                                clearTimeout(interVal);
                                bootbox.alert(result.error);
                            }
                        }
                    });

                }, 3000);
            }
            else {
                var interVal = setTimeout(function () {

                    $.ajax({
                        url: "/Customer/getXml?id=" + hdon_id,
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        //data: dataObject,
                        success: function (result) {

                            if (!result.hasOwnProperty("error")) {
                                var k = JSON.parse(result);

                                SignalrConnection.server.buyerSign(k.xml).done(function (result) {

                                    if (!result.hasOwnProperty("error")) {

                                        var myJsonObject = JSON.parse(result); //change to obj
                                        myJsonObject.urlHost = mst; //add something
                                        myJsonObject = JSON.stringify(myJsonObject); //change back to string

                                        $.ajax({
                                            url: "/Customer/saveXml",
                                            type: "POST",
                                            dataType: 'json',
                                            contentType: "application/json",
                                            data: myJsonObject,
                                            success: function (result) {
                                                if (!result.hasOwnProperty("error")) {
                                                    bootbox.alert({
                                                        message: "Ký hóa đơn thành công. Vui lòng nhấn xem lại hóa đơn",
                                                        callback: function () {
                                                            debugger;
                                                            bootbox.hideAll();
                                                            clearTimeout(interVal);
                                                        }
                                                    });
                                                }
                                                else {
                                                    bootbox.hideAll();
                                                    clearTimeout(interVal);
                                                    bootbox.alert({
                                                        size: "small",
                                                        title: "Error",
                                                        message: result.toString()
                                                    });
                                                }
                                            },
                                            error: function (res) {
                                                bootbox.hideAll();
                                                clearTimeout(interVal);
                                                bootbox.alert({
                                                    size: "small",
                                                    title: "Error",
                                                    message: res
                                                });
                                            }
                                        });
                                    }
                                    else {
                                        bootbox.hideAll();
                                        clearTimeout(interVal);
                                        bootbox.alert({
                                            size: "small",
                                            title: "Error",
                                            message: result.error
                                        });
                                    }
                                });

                            }
                            else {
                                bootbox.hideAll();
                                clearTimeout(interVal);
                                bootbox.alert(result.error);
                            }
                        }
                    });

                }, 3000);

            }

        })
            .fail(function () {
                bootbox.alert("Kết nối Plugin ký thất bại. Vui lòng kiểm tra lại");
            });


    }
</script>
<script>

    $(document).ready(function () {
        $("#user_head").hide();
    });
</script>

