﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .k-grid-content > table > tbody > tr {
        background: White;
    }

    .modal-dialog {
        /*height: 80% !important;*/
        padding-top: 10%;
    }

    .modal-content {
        /*height: 100% !important;*/
        overflow: visible;
    }

    .modal-body {
        /*height: 70%;*/
        overflow: auto;
    }

    i.fa.fa-eye.text-info {
        border-radius: 18px;
        padding: 8px;
        background-color: #cde5ff;
        margin: 0 auto;
    }

    i.fas.fa-file-archive.text-danger {
        border-radius: 17px;
            padding-top: 8.2px;
    padding-bottom: 8.2px;
    padding-left: 11px;
    padding-right: 11px;
        background-color: #FCECD6;
        margin: 0 auto;
    }

    .text-danger {
        color: #F7CC92;
    }

    i.fas.fa-print.text-success {
        border-radius: 18px;
        padding: 8px;
        background-color: #cde5ff;
        margin: 0 auto;
    }

    .fa-file-archive:before {
        font-size: small;
    }
</style>

<form class="form" id="frmSearch">
    <div class="row">
        <div class="abc">
            <div class="col-md-1">
                <div class="form-group">
                    <h5 style="color: #ffffff; font-weight: 800">Thời gian</h5>
                </div>
            </div>
            <div class="ngay" style="background-color: red">
                <div class="col-md-2">
                    <div class="form-group">
                        <input class="form-control" type="date" value="" id="startdate" name="tu_ngay">
                    </div>
                </div>
                <!--/span-->
                <div class="col-md-2">
                    <div class="form-group">

                        <input class="form-control" type="date" value="" id="enddate" name="den_ngay">
                    </div>
                </div>
                <div class="col-md-1">
                    <button type="button" id="btnSearch" class="btn btn-success" style="background-color: white;color: #005EB2; font-weight: 600; margin-top: 5px;border-radius: 5px;">Tìm</button>
                </div>
            </div>
        </div>
        <!--/span-->
    </div>

</form>
<table id="demo-foo-addrow" class="demo-foo-addrow table table-bordered table-hover toggle-circle" data-page-size="7">
    <thead style="background-color:#ffffff">
        <tr>
            <th data-sort-initial="true" data-toggle="true">Mẫu số</th>
            <th>Ký hiệu</th>
            <th >Số hóa đơn</th>
            <th >Ngày hóa đơn</th>
            <th >Tổng tiền</th>
            <th data-sort-ignore="true" class="min-width">Tải xuống</th>
        </tr>
    </thead>

    <tbody>
        <!--Thêm boby của bảng vào đây-->
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                <div class="text-left">
                    <!--<ul class="pagination">-->
                        @*@for (int i = 1; i <= Model.PageCount(); i++)
                        {
                            <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">
                                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                            </li>

                        }*@
                    <!--</ul>-->
                </div>
            </td>
        </tr>
    </tfoot>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        if (window.performance.navigation.type == 2) {
            window.location.reload(false); 
        }
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $("#startdate").val(today);
        $("#enddate").val(today);
        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        $("#btnSearch").click(function () {

            bootbox.dialog({
                title: "Đang tìm kiếm hóa đơn ...",
                message: "<p class='text-center' ><i style='font-size:350%;' class='fa fa-spin fa-spinner'></i></p>",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Hủy',
                        className: 'btn-danger',
                        callback: function () {
                            clearTimeout(interVal);
                            bootbox.hideAll();
                        }
                    }
                }
            });
            var interVal = setTimeout(function () {
                var $form = $('#frmSearch');
                var datapost = $form.serialize();

                var model = getFormData($form);
                var dataObject = JSON.stringify(model);

                //$.get("/Customer/SaveEmployeeRecord", { id: '67', name: 'Deepak' }, function (data) {
                //    alert(data.id);
                //    alert(data.name);
                //});

                //$.ajax({
                //    type: 'POST',
                //    dataType: 'json',
                //    url: '/Customer/GetInvoiceFromdateTodate',
                //    //data: { id: '67', name: 'Deepak' },
                //    data: dataObject,
                //    success: function (data) {
                //        alert(data.id);
                //        alert(data.name);
                //    },
                //    error: function (XMLHttpRequest, textStatus, errorThrown) {

                //    }
                //});

                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    url: '/Customer/GetInvoiceFromdateTodate',
                    data: model,
                    success: function (result) {

                        if (!result.hasOwnProperty("error")) {

                            //$('#divInvoice').prop('hidden', false);
                            $('#tblfoot').prop('hidden', false);
                            $("#demo-foo-addrow tbody>tr").remove();

                            if (result.isTT32 == "1") {
                                for (var i = 0; i < result.data.length; i++) {
                                    var tien = result.data[i].total_amount == null ? '' : result.data[i].total_amount.toLocaleString();
                                    var sercurity = result.data[i].security_number == null ? '' : result.data[i].security_number.toString();
                                    $("#demo-foo-addrow").find('tbody')
                                        .append('<tr><td>' + result.data[i].template_code + '</td><td>' + result.data[i].invoice_series + '</td><td><a href="#" onClick = "PrintInvoicePDF(\'' + sercurity + '\',\'' + result.data[i].mst.toString() + '\',\'PDF\');" data-toggle="tooltip" data-placement="top" title="In hóa đơn" >' + result.data[i].invoice_number + '</a></td>' +
                                            '<td>' + moment(result.data[i].invoice_issued_date).format("DD/MM/YYYY") + '</td>' +
                                            '<td>' + tien + '</td>' +
                                            '<td><a href="#" onClick = "PrintInvoicePDF(\'' + sercurity + '\',\'' + result.data[i].mst.toString() + '\',\'PDF\');" data-toggle="tooltip" data-placement="top" title="Dowload File PDF"><i class="fa fa-eye text-info m-r-10"></i></button>' +
                                            ' <a href="#" onClick = "ExportZipXML(\'' + sercurity + '\',\'' + result.data[i].mst.toString() + '\');" data-toggle="tooltip" data-placement="top" title="Dowload File .Zip XML"><i class="fas fa-file-archive text-danger m-r-10"></i></a></td></tr>');
                                }
                            } else if (result.isTT32 == "0") {
                                for (var i = 0; i < result.data.length; i++) {
                                    var tien = result.data[i].tgtttbso_last == null ? '' : result.data[i].tgtttbso_last.toLocaleString();
                                    var sercurity = result.data[i].sbmat == null ? '' : result.data[i].sbmat.toString();
                                    $("#demo-foo-addrow").find('tbody')
                                        .append('<tr><td>' + result.data[i].khieu.substring(0, 1) + '</td><td>' + result.data[i].khieu.substring(1) + '</td><td><a href="#" onClick = "PrintInvoicePDF(\'' + sercurity + '\',\'' + result.data[i].mst.toString() + '\',\'PDF\');" data-toggle="tooltip" data-placement="top" title="In hóa đơn" >' + result.data[i].shdon + '</a></td>' +
                                            '<td>' + moment(result.data[i].nlap).format("DD/MM/YYYY") + '</td>' +
                                            '<td>' + tien + '</td>' +
                                            '<td><a href="#" onClick = "PrintInvoicePDF(\'' + sercurity + '\',\'' + result.data[i].mst.toString() + '\',\'PDF\');" data-toggle="tooltip" data-placement="top" title="Dowload File PDF"><i class="fa fa-eye text-info m-r-10"></i></button>' +
                                            ' <a href="#" onClick = "ExportZipXML(\'' + sercurity + '\',\'' + result.data[i].mst.toString() + '\');" data-toggle="tooltip" data-placement="top" title="Dowload File .Zip XML"><i class="fas fa-file-archive text-danger m-r-10"></i></a></td></tr>');
                                }
                            }
                            
                            bootbox.hideAll();
                            clearTimeout(interVal);
                        }
                        else {
                            if (result.hasOwnProperty("error_login")) {
                                location.href = "/dang-nhap";
                            }

                            $("#demo-foo-addrow tbody>tr").remove();
                            bootbox.hideAll();
                            clearTimeout(interVal);
                            bootbox.alert(result.error);
                        }
                    },
                    error: function (req, status, errorObj) {
                        // handle status === "timeout"
                        // handle other errors

                        bootbox.hideAll();
                        clearTimeout(interVal);
                        bootbox.alert(errorObj);
                    }
                });
            }, 1000);
        });
    });

</script>
<script>
    function PrintInvoicePDF(sbm, mst, type) {
        if (sbm == null || sbm == '') {
            bootbox.alert({
                message: "Hóa đơn chưa ký hoặc không tồn tại Mã tra cứu hoá đơn !",
                callback: function () {
                    console.log('Hóa đơn chưa ký hoặc không tồn tại Mã tra cứu hoá đơn !');
                }
            });
        }
        bootbox.dialog({
            title: "Đang in hóa đơn ...",
            message: "<p class='text-center' ><i style='font-size:350%;' class='fa fa-spin fa-spinner'></i></p>",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times"></i> Hủy',
                    className: 'btn-danger',
                    callback: function () {
                        clearTimeout(interVal);
                        bootbox.hideAll();
                    }
                }
            }
        });

        var interVal = setTimeout(function () {
            var model = '{ "sobaomat": "' + sbm + '", "masothue": "' + mst + '","type":"' + type + '" }';

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/Tracuu2/PrintInvoice', true);
            xhr.setRequestHeader("Content-type", "application/json;charset=UTF-8");
            xhr.responseType = 'arraybuffer';
            xhr.send(model);
            xhr.onload = function () {
                if (this.status === 200) {
                    var filename = "";
                    var disposition = xhr.getResponseHeader('Content-Disposition');
                    if (disposition && disposition.indexOf('attachment') !== -1) {
                        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                        var matches = filenameRegex.exec(disposition);
                        if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                    }
                    var type = xhr.getResponseHeader('Content-Type');

                    var blob = typeof File === 'function' ? new File([this.response], filename, {
                        type: type
                    }) : new Blob([this.response], {
                        type: type
                    });

                    if (typeof window.navigator.msSaveBlob !== 'undefined') {
                        window.navigator.msSaveBlob(blob, filename);
                    } else {
                        var URL = window.URL || window.webkitURL;
                        var downloadUrl = URL.createObjectURL(blob);

                        if (filename) {
                            var a = document.createElement("a");
                            if (typeof a.download === 'undefined') {
                                bootbox.hideAll();
                                clearTimeout(interVal);
                                var newWindow = window.open('/');
                                newWindow.onload = () => {
                                    newWindow.location = downloadUrl;
                                };
                                //var a = document.createElement("a");
                                //a.target = '_blank';
                                //document.body.appendChild(a);

                                //a.href = downloadUrl;
                                //var image = document.createElement('image');
                                //image.src = 'data:image/bmp;base64,' + blob;
                                //document.body.appendChild(image);

                                //window.open(downloadUrl, '_blank');
                            } else {
                                bootbox.hideAll();
                                clearTimeout(interVal);
                                var newWindow = window.open('/');
                                newWindow.onload = () => {
                                    newWindow.location = downloadUrl;
                                };
                                //window.open(downloadUrl, '_blank');
                            }
                        } else {
                            bootbox.hideAll();
                            clearTimeout(interVal);
                            var newWindow = window.open('/');
                            newWindow.onload = () => {
                                newWindow.location = downloadUrl;
                            };
                            //window.open(downloadUrl, '_blank');
                        }

                        //setTimeout(function () {
                        //    URL.revokeObjectURL(downloadUrl);
                        //    bootbox.hideAll();
                        //    clearTimeout(interVal);
                        //}, 100);
                    }
                } else {
                    bootbox.hideAll();
                    clearTimeout(interVal);
                    //console.log(this.response);
                    bootbox.alert("Có lỗi xảy ra !");
                }
            };
        }, 1000);
    }
</script>
<script>
    function ExportZipXML(sbm, mst) {
        bootbox.dialog({
            title: "Đang Export hóa đơn File .Zip ...",
            message: "<p class='text-center' ><i style='font-size:350%;' class='fa fa-spin fa-spinner'></i></p>",
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times"></i> Hủy',
                    className: 'btn-danger',
                    callback: function () {
                        clearTimeout(interVal);
                        bootbox.hideAll();
                    }
                }
            }
        });
        var interVal = setTimeout(function () {
            var model = '{ "sobaomat": "' + sbm + '", "masothue": "' + mst + '" }';
            var kiki = JSON.parse(model);
            console.log(kiki);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/Tracuu2/ExportZipFileXML', true);
            xhr.setRequestHeader("Content-type", "application/json;charset=UTF-8");
            xhr.responseType = 'arraybuffer';
            xhr.send(model);
            xhr.onload = function () {
                if (this.status === 200) {

                    var filename = "";
                    var disposition = xhr.getResponseHeader('Content-Disposition');
                    if (disposition && disposition.indexOf('attach') !== -1) {
                        var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                        var matches = filenameRegex.exec(disposition);
                        if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                    }
                    var type = xhr.getResponseHeader('Content-Type');

                    var blob = typeof File === 'function' ? new File([this.response], filename, {
                        type: type
                    }) : new Blob([this.response], {
                        type: type
                    });
                    if (typeof window.navigator.msSaveBlob !== 'undefined') {

                        window.navigator.msSaveBlob(blob, filename);
                    } else {
                        var URL = window.URL || window.webkitURL;
                        var downloadUrl = URL.createObjectURL(blob);
                        if (filename) {
                            var a = document.createElement("a");
                            if (typeof a.download === 'undefined') {
                                bootbox.hideAll();
                                clearTimeout(interVal);
                                if (navigator.userAgent.indexOf("Safari") != -1) {
                                    window.location.assign(downloadUrl);
                                }
                                else {
                                    var newWindow = window.open('/');
                                    newWindow.onload = () => {
                                        newWindow.location = downloadUrl;
                                    };
                                }
                            } else {
                                bootbox.hideAll();
                                clearTimeout(interVal);
                                if (navigator.userAgent.indexOf("Safari") != -1) {
                                    const a = document.createElement("a");
                                    document.body.appendChild(a);
                                    a.href = downloadUrl;
                                    a.download = filename;
                                    a.click();
                                    setTimeout(() => {
                                        window.URL.revokeObjectURL(downloadUrl);
                                        document.body.removeChild(a);
                                    }, 0);

                                }
                                else {
                                    var newWindow = window.open('/');
                                    newWindow.onload = () => {
                                        newWindow.location = downloadUrl;
                                    };
                                }
                            }
                        } else {
                            bootbox.hideAll();
                            clearTimeout(interVal);
                            if (navigator.userAgent.indexOf("Safari") != -1) {
                                const a = document.createElement("a");
                                document.body.appendChild(a);
                                a.href = downloadUrl;
                                a.download = filename;
                                a.click();
                                setTimeout(() => {
                                    window.URL.revokeObjectURL(downloadUrl);
                                    document.body.removeChild(a);
                                }, 0);

                            }
                            else {
                                var newWindow = window.open('/');
                                newWindow.onload = () => {
                                    newWindow.location = downloadUrl;
                                };
                            }
                        }
                    }
                } else {
                    bootbox.hideAll();
                    clearTimeout(interVal);
                    bootbox.alert("Có lỗi xảy ra !");
                }
            };
        }, 1000);
    }
</script>
